/*Created by Li2424 09.10.2021*/

body {
  text-align: center;
}
  .bubble {
    width: 300px;
    margin: 50px auto;
    background: #ff9900;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    border-radius: 6px;
    color: #fff;
    position:relative;
  }

  .type1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #ff9900;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff9900;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
  }
  
  .type2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #ff9900;
    border-top: 10px solid #ff9900;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
  }
  
  .type3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #ff9900;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff9900;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
  }
  
  .type4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #ff9900;
    border-top: 10px solid #ff9900;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
  }